.keyboard-item {
  height:100%
}

.keyboard-item {
  table {
    text-align:center;
    border-spacing: 0;
	  width:100%;
	  height:100%;

    td {
      padding: 4px 3px;
      width: 10%;
      height: 10%;
    }
  }
}
