@import '../scss/mixins.scss';

$btn-bg: #ee3322;

button.start-game {
  @include zap-button($btn-bg);
  border-radius: 50%;
  display: flex;
  width: 10vh;
  height: 10vh;
  span {
    border-radius: 50%;
    display:block;
    line-height:8vh;
    width: 8vh;
    height: 8vh;
    margin: auto;
    background: $btn-bg;
    text-align: center;
  }
}